@import url('https://fonts.googleapis.com/css2?family=DM+Mono');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    background-color: black;
    color: white;
    font-family: "DM Mono";
}

.home {
    background-color: #111115;
    width: auto;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    padding: 2rem;
    height: 10vh;
    background-color: #050508;
    border-bottom-color: #556;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

nav a {
    text-decoration: none;
    color: white;
    transition-duration: 0.2s;
}

nav a:hover {
    color: #AAF;
}

.navbar-name {
    font-size: 1.6rem;
}

.navbar-links {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 2rem;
}